/* tinker with the colors as you desire wor boy~ */
a.visit {
    color: rgb(61, 61, 61); 
}
a.visit:hover {
    color: rgb(0, 0, 0); 
}

a.not-visit {
    color: rgb(91, 91, 91);
}
a.not-visit:hover {
    color: rgb(0, 0, 0);
}